header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

main {
  text-align: center;
  min-height: 50vh;
}

.start-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #444;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  padding: 10px;
}